div.carousal-slide:nth-child(1) {
	background: red;
}

div.carousal-slide:nth-child(2) {
	background: blue;
}

div.carousal-slide:nth-child(3) {
	background: green;
}

.carousal-slide-list {
	display: flex;
}

.carousal-slide {
	width: 100%;
	flex: 100%;
	flex-shrink: 0;
	position: absolute;
	transition: transform 0.3s;
}

.carousal-slide.next, .carousal-slide {
	transform: translate(100%);
}

.carousal-slide.prev {
	transform: translate(-100%);
}

.carousal-slide.active {
	transform: translate(0%);
}

.carousal-slide,
.carousal-slide-list {
	min-height: 6rem;
}

.carousal-slide-list {
	width: 100%;
	overflow: hidden;
}

.carousal-controlls {
	position: absolute;
}

.carousal {
	position: relative;
}

.carousal-controlls {
	bottom: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
}