/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.search-box {
	width: 100%;
	margin-top:10px;
	border-radius: 8px;
	position: relative;
}

.btn-search-clear {
	display: none;
	border: none;
	color: #888;
	font-size: 1rem;
	background: #fff;
	.show {
		display: unset;
	}
}

.search-box {
	display: flex;
	background: #fff;
	height:44px;
	input {
		flex: 10;
		padding: 12px 10px;
		border-radius: 8px;
		border: none;
		outline: none;
		color: #000;
		font-size: 15px;
		font-family: inherit;
		outline: 0;
		line-height: 1em;
		outline-width: 0;
	}
	&:focus,&:hover{
		input{
			border: solid 2px orange;
		}
	}
	.search-icon{
		width: 50px;
		height:100%;
		i{
			font-size: 25px;
		}
	}
}



.search-icon {
	background: -webkit-linear-gradient(top, #fcbb6a, #fcbb6a);
	border: none;
	border-radius: 8px;
	/* filter: invert(100%);
	-webkit-filter: invert(100%); */
}