
.selectOptions{
    max-width:100vw;
    border: none;
}
.selectOptions .options{
    width:100%;
    display:flex;
    overflow-y: hidden;
    overflow-x:scroll;
}
.options .option{
    margin:10px 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.option .optionImage{
    border-radius: 50%;
    width:45px;
    height:45px;
}
.option label{
    font-size: 11px;
    line-height: 14px;
}