#header-main {
	display: flex;
	background-color: #232F3E;
	padding: 1rem;
	flex-wrap: wrap;
}

.nav-logo {
	margin-left: 0.5rem;
	display: flex;
}

.nav-logo-locale {
	color: #fff;
	line-height: 15px;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	padding: 0.3rem;
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: underline;
}

.cart-icon {
	position: absolute;
	bottom: 40%;
	right: 25%;
	color: orange;
}

.minimal .logo {
	display: none;
}

.minimal .nav-link {
	display: none;
}

.minimal .search-box {
	width: 50%;
	order: 0;
}

.minimal .hamburger-icon {
	order: 0;
	margin-top: 3%;
}

.minimal .search-box {
	width: 82%;
	order: 1;
	margin-left: 2%;
}

.minimal .cart-icon-body {
	margin-left: auto;
	order: 2;
	margin-top: 2%;
}